<!-- Project -->
<div class="tidate b-lblue" style="margin-left: <%= ident %>px;">
    <div>
        <%= Name %><div class="pull-right">
            <i class="icon-chevron-down"></i>
        </div>
    </div>

    <div class="tisub">
        <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
    </div>
</div>

<!-- Actions -->
<div class="timatter">
    <div class="span12 action">
        <div class="span9">
            <a href="#">Get an oil change</a>
            <br />
            <span>Errands</span>
        </div>
        <div class="span2">
            Thu, 9/12
        </div>
        <div class="span1">
            <input type="checkbox" name="a1" />
        </div>
        <br />
    </div>

    <div class="span12 action">
        <div class="span9">
            <a href="#">Get an oil change</a>
            <br />
            <span>Errands</span>
        </div>
        <div class="span2">
            Thu, 9/12
        </div>
        <div class="span1">
            <input type="checkbox" name="a1" />
        </div>
    </div>

    <div class="span12 action">
        <div class="span9">
            <a href="#">Get an oil change</a>
            <br />
            <span>Errands</span>
        </div>
        <div class="span2">
            Thu, 9/12
        </div>
        <div class="span1">
            <input type="checkbox" name="a1" />
        </div>
    </div>

    <div class="span12 action">
        <img src="~/Content/icons/actions/small-newaction.png" />
        <a href="#">New Action</a>
    </div>

    <!-- Actions END -->
    <div class="clearfix"></div>
</div>
<!-- Project END -->