<div class="span12 action">
    <div class="span9">
        <a href="#"><%= Name %></a>
        <br />
        <span>Errands</span>
    </div>
    <div class="span2">
        <% if (DueDate) { %><%= new Date(DueDate).toDateString("dd,MM") %><% } %>
    </div>
    <div class="span1">
        <input type="checkbox" name="a1" />
    </div>
</div>
