<div class="span4">
    <div class="time">
        <div class="tidate b-lblue">
            <a href="#" id="nav-parent"><i class="icon-folder-close-alt"></i>&nbsp;<%= Name %></a>
        </div>
    </div>
</div>
<div class="span4"></div>
<div class="span4">
    <h5 class="title"><%= Name %></h5>
</div>
