<div class="tidate b-blue tihead">
    Edit Folder
    <div class="span2 pull-right">
        <a href="#"><i class="icon-folder-close"></i></a>
        <a href="#" id="remove-folder"><i class="icon-trash"></i></a>
    </div>
</div>
<div class="timatter">
    <form id="edit-details">
        <input id="folder-name" class="span12" type="text" value="<%= Name %>" />
    </form>
    <div class="clearfix"></div>
</div>
