<form id="edit-details">
    <input class="span12" type="text" value="Bake a cake" />

    <div class="span12">
        
        <div class="row row-input">
            <div class="span1"><a href="#"><span>&nbsp;Status</span></a></div>
            <div class="span1">
                <img src="~/Content/icons/small/playback-active-c.png" />
            </div>
            <div class="span10">Active</div>
        </div>

        <div class="row row-input">
            <div class="span2"><a href="#"><span>&nbsp;Project</span></a></div>
            <div class="span10">Bake a cake</div>
        </div>
        <div class="row row-input">
            <div class="span2"><a href="#"><span>&nbsp;Contexts</span></a></div>
            <div class="span10">
                Home<br />
                Errands<br/>
                <input type="text" class="span11"/>
            </div>
        </div>

        <div class="row row-input">
            <div class="span2"><a href="#"><span>&nbsp;Tags</span></a></div>
            <div class="span10">Birthday; Baking fun</div>
        </div>

        <div class="row row-input">
            <div class="span4"><a href="#"><span>&nbsp;Estimated completion time</span></a></div>
            <div class="span7"><span class="pull-right">15 min</span></div>
            <div class="span1">
                <img src="~/Content/icons/flags/small-flag-orange.png" />
            </div>

        </div>

        <div class="row row-input">
            <div class="span1"><a href="#"><span>&nbsp;Start</span></a></div>
            <div class="11"></div>
        </div>

        <div class="row row-input">
            <div class="span1"><a href="#"><span>&nbsp;Due</span></a></div>
            <div class="span11"></div>
        </div>
        <div class="row row-input">
            <div class="span1"><a href="#"><span>&nbsp;Repeat</span></a></div>
            <div class="span11"></div>
        </div>
    </div>


</form>
<div class="clearfix"></div>
