<div class="tidate b-blue">
    Edit Project
        <div class="span1 pull-right">
            <i class="icon-folder-close"></i>
            <a href="#" id="remove-project" ><i class="icon-trash"></i></a>
        </div>
</div>
<div class="timatter">
    <h5 class="span2"><a href="#" <% if (active =="details") { %> class="muted" <% } %> id="edit-details" >DETAILS</a></h5>
    <h5 class="span2"><a href="#" <% if (active =="files") { %> class="muted" <% } %> id="edit-files">FILES</a></h5>
    <div id="container">
        
    </div>
    <div class="clearfix"></div>
</div>
