<div class="tidate b-blue">
    <%= Name %>
</div>
<div class="timatter">
    <ul id="items" class="nav nav-pills nav-stacked">
    <!-- navigation items -->
    </ul>
    <a href="#">
        <img src="~/Content/icons/actions/small-newproject.png" />New Project</a><br />
    <a href="#">
        <img src="~/Content/icons/actions/small-newfolder.png" />New Folder</a>
</div>
<div class="clearfix"></div>