<a href="#" id="sel-item"><%= Position %> <%= Name %> 
    <% if(itemType=="folder"){ %><img class="pull-right" id="nav-item" src="~/Content/icons/small/small-bluefolder-a.png" style="margin-top:-5px"></img> <% } %></a>