@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "Layouts/_Home.cshtml";
    ViewBag.Title = (Model.Exception.GetType() == typeof(Yorganize.Business.Exceptions.BusinessException)) ? Model.Exception.Message : "An error occurred while processing your request.";
}

<div class="container">
    <div class="row">
        <hgroup class="title">


            @if (Model.Exception.GetType() == typeof(Yorganize.Business.Exceptions.BusinessException))
            {
                <h4 class="error">
                    @Model.Exception.Message
                </h4>
            }
            else
            {
                <h4 class="error">An error occurred while processing your request.</h4>
            }

        </hgroup>

    </div>
</div>
