@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section head{
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
}

@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Video</span> <small>Video tutorials</small></h2>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="span9">
        <!-- Video Player -->
        @Html.Partial("Partial/_Player")
        <!-- Video list -->
        @Html.Partial("Partial/_List")
    </div>
    <!-- Sidebar -->
    @Html.Partial("Partial/_Sidebar")

</div>
