<div class="span4">
    <!-- Folder -->
    <div class="time">

        <div class="tidate b-blue">
            <div>
                Birthday
                    <div class="pull-right">
                        <i class="icon-chevron-down"></i>
                    </div>
            </div>

            <div class="tisub">
                <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
                <div class="pull-right">
                    <i class="icon-folder-open"></i> New Folder
                    <i class="icon-folder-close"></i>New Project
                </div>
            </div>
        </div>
        <div class="timatter">

            <!-- Project -->
            <div class="tidate b-lblue">
                <div>
                    Prepare for car trip<div class="pull-right">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>

                <div class="tisub">
                    <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
                </div>
            </div>

            <!-- Actions -->
            <div class="timatter">
                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                    <br />
                </div>

                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                </div>

                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                </div>

                <div class="span12 action">
                    <img src="~/Content/icons/actions/small-newaction.png" />
                    <a href="#">New Action</a>
                </div>

                <!-- Actions END -->
                <div class="clearfix"></div>
            </div>

            <!-- Project END -->

            <!-- Project -->
            <div class="tidate b-lblue">
                <div>
                    Prepare for car trip<div class="pull-right">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>

                <div class="tisub">
                    <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
                </div>
            </div>

            <!-- Actions -->
            <div class="timatter">
                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                    <br />
                </div>

                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                </div>

                <div class="span12 action">
                    <div class="span9">
                        <a href="#">Get an oil change</a>
                        <br />
                        <span>Errands</span>
                    </div>
                    <div class="span2">
                        Thu, 9/12
                    </div>
                    <div class="span1">
                        <input type="checkbox" name="a1" />
                    </div>
                </div>

                <div class="span12 action">
                    <img src="~/Content/icons/actions/small-newaction.png" />
                    <a href="#">New Action</a>
                </div>

                <!-- Actions END -->
                <div class="clearfix"></div>
            </div>
            <!-- Project END -->

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
    <!-- Folder END -->

    <!-- Project -->
    <div class="tidate b-blue">
        <div>
            Prepare for car trip<div class="pull-right">
                <i class="icon-chevron-down"></i>
            </div>
        </div>

        <div class="tisub">
            <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
        </div>
    </div>
    <div class="tidate b-lblue" style="margin-left: 20px;">
        <div>
            Prepare for car trip<div class="pull-right">
                <i class="icon-chevron-down"></i>
            </div>
        </div>

        <div class="tisub">
            <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
        </div>
    </div>

    <!-- Actions -->
    <div class="timatter">
        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
            <br />
        </div>

        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
        </div>

        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
        </div>

        <div class="span12 action">
            <img src="~/Content/icons/actions/small-newaction.png" />
            <a href="#">New Action</a>
        </div>

        <!-- Actions END -->
        <div class="clearfix"></div>
    </div>

    <!-- Project END -->

    <!-- Project -->
    <div class="tidate b-blue">
        <div>
            Prepare for car trip<div class="pull-right">
                <i class="icon-chevron-down"></i>
            </div>
        </div>

        <div class="tisub">
            <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
        </div>
    </div>
    <div class="tidate b-blue" style="margin-left: 20px;">
        <div>
            Prepare for car trip<div class="pull-right">
                <i class="icon-chevron-down"></i>
            </div>
        </div>

        <div class="tisub">
            <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
        </div>
    </div>
    <div class="tidate b-lblue" style="margin-left: 40px;">
        <div>
            Prepare for car trip<div class="pull-right">
                <i class="icon-chevron-down"></i>
            </div>
        </div>

        <div class="tisub">
            <span class="remaining">2 remaining</span> &nbsp; <span class="due">1 due soon</span> &nbsp; <span class="overdue">1 overdue</span>
        </div>
    </div>

    <!-- Actions -->
    <div class="timatter">
        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
            <br />
        </div>

        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
        </div>

        <div class="span12 action">
            <div class="span9">
                <a href="#">Get an oil change</a>
                <br />
                <span>Errands</span>
            </div>
            <div class="span2">
                Thu, 9/12
            </div>
            <div class="span1">
                <input type="checkbox" name="a1" />
            </div>
        </div>

        <div class="span12 action">
            <img src="~/Content/icons/actions/small-newaction.png" />
            <a href="#">New Action</a>
        </div>

        <!-- Actions END -->
        <div class="clearfix"></div>
    </div>

    <!-- Project END -->

    <!-- Commands -->
    <div class="timatter">
        <div class="span12">
            <div class="span3">
                <img src="~/Content/icons/actions/small-newproject.png" />
                <a href="#">New Project</a>
            </div>
            <div class="span6"></div>
            <div class="span3">
                <img src="~/Content/icons/actions/small-newfolder.png" />
                <a href="#">New Folder</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- Commands END -->
</div>

