<div id="bottom-bar-trigger" class="navbar-fixed-bottom"></div>
<div id="bottom-bar" class="navbar-fixed-bottom hide">
    <div class="navbar-inner">
        <div class="inner" >
            <div class="container-fluid">
                <div class="color-blocks">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="c-block">
                                <!-- Left side -->
                                <div class="col-l b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-home.png" />
                                    <span style="position: relative; top: 65px; left: -30px;">Home</span>
                                </div>
                                <span class="col-l b-bar-separator"></span>
                                <div class="col-l b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-export.png" />
                                    <span style="position: relative; top: 65px; left: -30px;">Export</span>
                                </div>
                                <div class="col-l b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-import.png" />
                                    <span style="position: relative; top: 65px; left: -30px;">Import</span>
                                </div>
                                <!-- Right side -->
                          
                              
                                <div class="col-r b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-add.png" />
                                    <span style="position: relative; top: 65px; left: -20px;">Add</span>
                                </div>

                                <span class="col-r b-bar-separator"></span>
                                
                                <div class="col-r b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-group.png" />
                                    <span style="position: relative; top: 65px; left: -30px;">Group</span>
                                </div>

                                <div class="col-r b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-sort.png" />
                                    <span style="position: relative; top: 65px; left: -20px;">Sort</span>
                                </div>
                                
                                <div class="col-r b-bar-item">
                                    <img style="position: relative; top: 20px; left: 20px;" src="~/Content/icons/bottom/bottom-filter.png" />
                                    <span style="position: relative; top: 65px; left: -25px;">Filter</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>