<div class="bor"></div>
<hr />

<!-- Discover starts -->

<div class="discover">
    <div class="row">
        <div class="span12">
            <h3>Discover</h3>
            <div class="big grey">Check out some of our Cool Products.</div>
            <div class="dis-nav button">
                <a href="#" id="one">Linux 8</a>
                <a href="#" id="two">Linux 7</a>
                <a href="#" id="three">Linux Phone</a>
                <a href="#" id="four">MS Office</a>
                <a href="#" id="five">PlayStation</a>
                <a href="#" id="six">GTalk</a>
            </div>

            <div class="dis-content">
                <div class="one">
                    <h3>Linux 8</h3>
                    <p>Linux 8. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
                <div class="two">
                    <h3>Linux 7</h3>
                    <p>Linux 7. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
                <div class="three">
                    <h3>Linux Phone</h3>
                    <p>Linux Phone. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
                <div class="four">
                    <h3>MS Office</h3>
                    <p>MS Office. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
                <div class="five">
                    <h3>PlayStation</h3>
                    <p>PlayStation. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
                <div class="six">
                    <h3>GTalk</h3>
                    <p>GTalk. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy Now</a> <a href="#" class="btn btn-success">Try Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Disconver ends -->
