<form id="edit-files" class="hide">
    <input class="span12" type="text" value="Bake a cake" />
    <h6>Notes</h6>
    <div class="span12">
        <div class="span3" style="margin-left: -15px">
            <div class="span12">
                <ul class="nav nav-pills nav-stacked" style="border: 1px solid #ccc; margin-bottom: 5px;">
                    <li class="active" style="padding-top: 0; padding-bottom: 0"><a href="#">Ingredients <i class="icon-remove-circle pull-right"></i></a></li>
                    <li style="padding-top: 0; padding-bottom: 0"><a href="#">Ingredients <i class="icon-remove-circle pull-right"></i></a></li>
                    <li style="padding-top: 0; padding-bottom: 0"><a href="#">Ingredients <i class="icon-remove-circle pull-right"></i></a></li>
                    <li style="padding-top: 0; padding-bottom: 0"><a href="#">Ingredients <i class="icon-remove-circle pull-right"></i></a></li>
                    <!-- remove inline styles and add them to css file -->
                </ul>
            </div>
            <div class="span12">
                <img src="~/Content/icons/actions/edit-keyboard.png" />
                <img src="~/Content/icons/actions/edit-pencil.png" />
            </div>
        </div>
        <div class="span9">
            <div class="row-input span12">
                <div class="span2"><a href="#"><span>&nbsp;Name</span></a></div>
                <div class="span10">
                    <input type="text" placeholder="..." />
                </div>
            </div>

            <textarea class="span12" rows="6"></textarea>
        </div>
    </div>
    <h6>Attachments</h6>

    <div class="span12" style="margin-left: -4px;">
        <div class="span9">
            <ul class="nav nav-pills nav-stacked" style="border: 1px solid #ccc; margin-bottom: 5px; height: 150px">
                <li class="active" style="padding-top: 0; padding-bottom: 0">
                    <a href="#"><i class="icon-camera"></i>Success <i class="icon-remove-circle pull-right"></i></a></li>
                <li style="padding-top: 0; padding-bottom: 0"><a href="#"><i class="icon-paper-clip"></i>Coupon <i class="icon-remove-circle pull-right"></i></a></li>
                <!-- remove inline styles and add them to css file -->
            </ul>
        </div>
        <div class="span3">
            <img src="~/Content/icons/attachments/edit-video-a.png" class="attachment-icon" />
            <img src="~/Content/icons/attachments/edit-audio-a.png" class="attachment-icon" />
            <img src="~/Content/icons/attachments/edit-pictures-a.png" class="attachment-icon" />
            <img src="~/Content/icons/attachments/edit-attach-a.png" class="attachment-icon" />
        </div>
    </div>
    <div style="margin-left: -4px;">
        <div class="row-input span12">
            <div class="span2"><a href="#"><span>&nbsp;Name</span></a></div>
            <div class="span10">
                <input type="text" placeholder="..." value="Success" />
            </div>
        </div>
    </div>

</form>
<div class="clearfix"></div>
