<div class="container">
    <div class="row">
        <div class="span5">
            <div class="logo">
                <a href="~/" title="Home">
                    <img src="~/Content/images/yorganize_website_logo_63px.png" alt="Yorganize" />
                </a>
            </div>
        </div>
        <div class="span1">
            <div class="logo" style="margin-top:-45px;">
                <a href="#" class="top-bar-toggle">
                    <i class="icon-resize-vertical icon-medium icon-inverse-50 icon-background-circle"></i>
                </a>
            </div>
        </div>
        <div class="span2">
            <div class="form">
                Hello, <a href="#">User</a>
            </div>
        </div>
        <div class="span4">
            <div class="form form-search">
                <form method="get" id="searchform" action="#" class="form-search">
                    <input type="text" value="" name="s" id="s" class="input-medium" />
                    <button type="submit" class="btn">Search</button>

                </form>

            </div>

        </div>

    </div>
</div>
