<div class="span4">
    <!-- Timeline #1 -->

    <div class="tidate b-blue">
        Birthday
    </div>
    <div class="timatter">
        <ul>
            <li>
                <h5><a href="#">Prepare for cart rip</a></h5>
                <h5><a href="#">Go to the concert</a></h5>
                <h5><a href="#">Bake a cake</a></h5>
            </li>
        </ul>
        <a href="#">
            <img src="~/Content/icons/actions/small-newproject.png" />New Project</a><br />
        <a href="#">
            <img src="~/Content/icons/actions/small-newfolder.png" />New Folder</a>
    </div>
    <div class="clearfix"></div>


</div>
