<div id="top-bar-trigger" class="navbar-fixed-top"></div>
<div id="top-bar" class="navbar-fixed-top hide">
    <div class="navbar-inner">
        <div class="inner">
            <div class="container">
                <div class="color-blocks">
                    <div class="row">
                        <div class="span12">
                            <div class="c-block">
                                <!-- Left column with color background -->
                                <div class="col-l b-bar-item b-projects ">
                                    <span style="position: relative; top: 75px; left: 0;"><a href="@Url.Action("Projects")">Projects</a></span>
                                </div>

                                <div class="col-l b-bar-item b-contexts ">
                                    <span style="position: relative; top: 75px; left: 0;"><a href="#">Contexts</a></span>
                                </div>

                                <div class="col-l b-bar-item b-flagged ">
                                    <span style="position: relative; top: 75px; left: 0;"><a href="#">Flagged</a></span>
                                </div>

                                <div class="col-l b-bar-item b-next-action ">
                                    <span style="position: relative; top: 75px; left: 0;"><a href="#">Next Action</a></span>
                                </div>

                                <div class="col-l b-bar-item b-current ">
                                    <span style="position: relative; top: 75px; left: 0;"><a href="#">Current</a></span>
                                </div>

                            </div>
                         
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
