<div class="span4">
    <div class="time">
        <div class="tidate b-lblue">
            <i class="icon-chevron-left"></i>&nbsp;Projects
        </div>
    </div>
</div>
<div class="span4"></div>
<div class="span4">
    <h5 class="title">Projects</h5>
</div>
