<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="storage-providers" type="Yorganize.Business.Providers.ProviderConfiguration, Yorganize.Business" />
  </configSections>
  
  <storage-providers default="AzureStorageProvider">
    <providers>
      <add name="AzureStorageProvider" type="Yorganize.Business.Providers.Storage.AzureStorageProvider, Yorganize.Business" storageConnectionString="DefaultEndpointsProtocol=http;AccountName=yorganize;AccountKey=44LAELsGprgHKcwQ8L/BY+oWfIT/pIJHlnmYSecl/3It6VL02SqUn725ZUA5Pzn0JSI9HJKQsdWXJTfAFMuL3A==" />
    </providers>
  </storage-providers>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>