<a id="category-<%=Name%>" href="#"><i class="icon-chevron-right"></i><%=Name%>
    <i class="btn btn-danger icon-remove-circle pull-right"></i>
    <i class="btn btn-warning icon-edit pull-right"></i>
</a>