<a id="category-<%=Name%>" href="#">
    <input id="#category-name" class="input-small" type="text" placeholder="category" value="<%=Name%>" />
    <i id="cancel" class="btn btn-danger icon-remove-circle pull-right"></i>
    <i id="save" class="btn btn-success icon-save pull-right"></i>
</a>