<div class="row">
    <h4 class="bordered-top-large" id="team">Videos in category <i class="icon-double-angle-right"></i>Projects</h4>
    <ul class="thumbnails block projects" id="quicksand">
        @for (int i = 0; i < 6; i++)
        {
            @Html.Partial("Partial/_Video");
        }
    </ul>
</div>