<div class="row">
    <h4 class="bordered-top-large" id="team">Videos in category <i class="icon-double-angle-right"></i>&nbsp;<%=Category%></h4>
    <ul id="videos" class="thumbnails block">
    </ul>
</div>
