<div class="row">
    <div class="span9">
        <h3><%=(ID==null)? "No video selected": Title%></h3>
        <p><%=Description%></p>
        <div id="flowplayer" class=" bordered-top-medium flowplayer minimalist">
                <video id="video-player-object" autoplay="true" controls preload="auto" width="640" height="264">
                    <% if(SourceMP4Url) {%>
                    <source src="<%=SourceMP4Url%>" type='video/mp4'>
                    <%}%>
                    <% if(SourceOGGUrl) {%>
                    <source src="<%=SourceOGGUrl%>" type='video/ogg'>
                    <%}%>
                    <% if(SourceWEBMUrl) {%>
                    <source src="<%=SourceWEBMUrl%>" type='video/webm'>
                    <%}%>
                    Your browser does not support this video type.
                </video>
        </div>
    </div>
</div>
