<div class="row">
    <div class="span9">

        <h3>How to create a project</h3>
        <p>This video demonstrates how to create projects and folders and structure them in a simple hierarchy...</p>
        <div class="bordered-top-medium">
            <video id="my_video_1" class="video-js vjs-default-skin" controls
                preload="auto" width="640" height="264" poster="~/content/images/clients/html5.png"
                data-setup="{}">
                <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
                <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'>
            </video>
        </div>
    </div>
</div>
