<div class="span3 sidebar sidebar-right">
    <div class="inner">
        <div class="block">
            <h3 class="block-title sub-title"><span>Video Categories</span></h3>
            <ul class="nav nav-list secondary-nav">
                <li><a href="#"><i class="icon-chevron-right"></i>Projects</a></li>
                <li class="active"><a href="#"><i class="icon-chevron-right"></i>Actions</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Contexts</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Other</a></li>
            </ul>
        </div>

    </div>
</div>
