<li class="span3" data-id="id-0" data-type="projects">
    <div class="row">
        <div class="span3">
            <p>
                <i class="icon-cog"></i>
                <img width="64px" src="~/Content/icons/MP4.png"></img>
                  <img width="64px" src="~/Content/icons/OGG.png"></img>
                  <img width="64px" src="~/Content/icons/WEBM_small.png"></img>

            </p>
            <h4 class="title"><a href="#">How to create a project</a></h4>
            <p class="muted">Group related tasks into a project to help keep track of remaining work</p>
        </div>
    </div>
</li>
