@model List<Yorganize.Showcase.Web.Models.BlogPostItemModel>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Blog</span>  </h2>
                <a href="@Url.Action("Post")" class="btn btn-mini back-link">Create post</a>
            </div>
        </div>
    </div>
}
<div class="row">
    <!--Blog Roll Content-->
    <div id="blog-container" class="span8 blog-list">
        @foreach (var item in Model)
        {
            <!-- Blog post -->
            @Html.Partial("Partial/_PostItem", item)
        }
        <!--Insert pagination here... -->
    </div>

    <!--Sidebar-->
    @Html.Partial("Partial/_Sidebar")

</div>

