@model List<Yorganize.Showcase.Web.Models.BlogPostItemModel>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // add confirmation to remove buttons
            $('[data-action="remove-post"]').each(function (key, value) {
                $(value).click(function () {
                    return confirm("Are you sure you want to remove this post?");
                });
            });
        });
    </script>
}

@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Blog</span>  </h2>
                @if (Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Post")" class="btn btn-mini back-link">Create post</a>
                }
            </div>
        </div>
    </div>
}

<div class="row">

    <!--Blog Roll Content-->
    <div id="blog-container" class="span8 blog-list">
        @if (Model == null || Model.Count == 0)
        {
            // Show message instead of posts if no posts available
            <div class="media row">
                <h4 class="muted">There are no posts to display.</h4>
            </div>
        }
        else
        {

            foreach (var item in Model)
            {
            <!-- Blog post -->
            @Html.Partial("Partial/_PostItem", item)
            }
        }
        <!--Insert pagination here... -->
    </div>

    <!--Sidebar-->
    @Html.Action("Sidebar")

</div>
