<footer id="footer">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="span6 col blog-list blog-list-short">
                    <h3>Latest from our Blog</h3>
                    <!-- Short blog post -->
                    <div class="media row">
                        <div class="media-body span6">
                            <!-- Meta details -->
                            <ul class="inline meta">
                                <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Tue 11th Dec 2012</li>
                                <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="~/Views/Shared/team-member.htm">Dave</a></li>
                            </ul>
                            <h5 class="title media-heading"><a href="~/Blog/Post">EGTD App Comparison - Core Features</a></h5>
                        </div>
                    </div>
                </div>
                <div class="span4 col contact-block">
                    <!--todo: replace with company contact details-->
                    <h3>Contact Us</h3>
                    <address>
                        <p>
                            <abbr title="General">G</abbr>: e22pii@live.com
                        </p>
                        <p>
                            <abbr title="Support">S</abbr>: e22pii@live.com
                        </p>
                        <p>
                            <a href="#"><i class="icon-cloud-download"></i>&nbsp;Get Yorganize</a>
                        </p>
                    </address>
                </div>
                <div class="span2 col social-media">
                    <!--todo: replace with company social media details-->
                    <h3>Follow us on</h3>
                    <a href="https://twitter.com/YorganizeIt"><i class="icon-twitter"></i>Twitter</a>
                    <a href="https://www.facebook.com/Yorganize"><i class="icon-facebook"></i>Facebook</a>
                    @* <a href="#"><i class="icon-linkedin"></i>LinkedIn</a>
                        <a href="#"><i class="icon-google-plus"></i>Google +</a>*@
                </div>
            </div>
            <div class="row">
                <!--todo: replace with company copyright details-->
                <div class="subfooter">
                    <div class="span12">
                        Yorganize | Copyright 2012 &copy; e22pii, LLC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
