<div class="row-fluid mission">
    <div class="inner">
        <h3>We make <span>beautiful, quality, responsive</span> Drupal & web templates! <small><a href="services.htm">Find out more</a></small></h3>
    </div>
</div>