<div class="block services margin-top-large">
    <h2 class="block-title"><span>Our Services</span> <small><a href="services.htm">View all</a></small></h2>
    <ul class="thumbnails">
        <li class="span3">
            <h3 class="title"><a href="services.htm"><i class="icon-wrench icon-small"></i>Web</a></h3>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>

        <li class="span3">
            <h3 class="title"><a href="services.htm"><i class="icon-search icon-small"></i>SEO</a></h3>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>

        <li class="span3">
            <h3 class="title"><a href="services.htm"><i class="icon-pencil icon-small"></i>Design</a></h3>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>

        <li class="span3">
            <h3 class="title"><a href="services.htm"><i class="icon-shopping-cart icon-small"></i>eCommerce</a></h3>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
    </ul>
</div>
