<!-- Recommended screenshot size: 400px x 300px -->
<div class="block portfolio margin-top-large">
 
    <div class="block margin-top-large">
            <h3 class="block-title" id="quotes"><span>Testimonials</span></h3>
            <blockquote>
                <p>Pancetta cow ground round shank beef ribs. Leberkas spare ribs hamburger shoulder tri-tip ribeye short ribs pastrami chuck cow shankle sirloin meatball tongue.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>

            <blockquote class="pull-right">
                <p>Pancetta cow ground round shank beef ribs. Leberkas spare ribs hamburger shoulder tri-tip ribeye short ribs pastrami chuck cow shankle sirloin meatball tongue.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
</div>
