<div class="comments" id="comments">
    <h3>Comments</h3>

    <ul class="media-list">

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/adele.jpg" alt="Picture of Joe" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Thu 10th Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Tom</a></li>
                </ul>
                <h5 class="media-heading">Magna aliquet diam mauris tortor turpis vel porta</h5>
                <p>Magna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel porta</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/jobs.jpg" alt="Picture of Joe" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Wed 9th Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Joe</a></li>
                </ul>
                <h5 class="media-heading">a nec in sed hac ultrices cursus</h5>
                <p>a nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursus</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/adele.jpg" alt="Picture of Jo" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Tue 8th Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Alex</a></li>
                </ul>
                <h5 class="media-heading">Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.</h5>
                <p>Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/obama.jpg" alt="Picture of Joe" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Mon 7th Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Alex</a></li>
                </ul>
                <h5 class="media-heading">amet urna integer urna enim, sit arcu pid in nec?</h5>
                <p>amet urna integer urna enim, sit arcu pid in nec?amet urna integer urna enim, sit arcu pid in nec?amet urna integer urna enim, sit arcu pid in nec?amet urna integer urna enim, sit arcu pid in nec?</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/jobs.jpg" alt="Picture of Tom" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Fri 4th Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Erin</a></li>
                </ul>
                <h5 class="media-heading">Porta risus porttitor facilisis sit dapibus</h5>
                <p>Porta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibus</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/bono.jpg" alt="Picture of Erin" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Thu 3rd Jan 2013</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Dave</a></li>
                </ul>
                <h5 class="media-heading">Turpis odio dictumst tempor ac et!</h5>
                <p>Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/jimi.jpg" alt="Picture of Joe" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Sat 29th Dec 2012</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Erin</a></li>
                </ul>
                <h5 class="media-heading">a nec in sed hac ultrices cursus</h5>
                <p>a nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursus</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/jimi.jpg" alt="Picture of Alex" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Wed 19th Dec 2012</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Erin</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
            </div>
        </li>

        <li class="media row">
            <a class="span1" href="team-member.htm">
                <img src="img/team/deniro.jpg" alt="Picture of Alex" class="media-object img-polaroid" />
            </a>
            <div class="span7 media-body">
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span> Fri 14th Dec 2012</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="team-member.htm">Jo</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
            </div>
        </li>
    </ul>

    <div class="comment-form">
        <form id="comment-form">
            <fieldset>
                <legend>Add Comment</legend>
                <input type="text" class="input-block-level" placeholder="Name"><br />
                <input type="text" class="input-block-level" placeholder="Email"><br />
                <textarea rows="8" class="input-block-level" placeholder="Comment"></textarea>
                <label class="checkbox">
                    <input type="checkbox">
                    Subscribe to updates
                </label>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

</div>
