@model List<Yorganize.Showcase.Web.Models.BlogArchiveModel>
<div class="span4 sidebar sidebar-right">
    <div class="inner">
        <div class="block">
            <a href="@Url.Action("Rss")" class="btn btn-warning"><i class="icon-rss"></i>Subscribe via RSS feed</a>
        </div>
        <div class="block">
            <h3 class="block-title sub-title"><span>Archive</span></h3>
            <ul class="big-list tags">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("Index", new { year = item.Year, month = item.Month })">@item.MonthName&nbsp;@item.Year</a>  (@item.Posts)</li>
                }
            </ul>
        </div>
    </div>
</div>
