@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = (Model.Exception.GetType() == typeof(Yorganize.Business.Exceptions.BusinessException)) ? Model.Exception.Message : "An error occurred while processing your request.";
}

<br />
<br />
<br />
<br />
<hgroup class="title">

    
    @if (Model.Exception.GetType() == typeof (Yorganize.Business.Exceptions.BusinessException))
    {
        <h4 class="error">
            @Model.Exception.Message
        </h4>
    }
    else
    {
        <h4 class="error">An error occurred while processing your request.</h4>
    }

</hgroup>
