input.input-validation-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

textarea.input-validation-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

 .flowplayer {
      width: 100%;
     height: 100%;
 }